### Conditional Statements

- Controlling the flow of execution

## SYNTAX
- if    
    
```python
    
     if condition:
     Block of code
    
```
- if else

```python          
          
    
    if condition:
    block of code 
    
  else:
    block of code
    
```
- if else if 

```python  
  
      
    
   if condition:
      block of code

  elif condition:
     block of code
    
  else condition:
     block of code
    
```

- Biggest of two numbers

In [2]:
a=5
b=15

if a>b:
    print(a,"is the biggest number")
    
elif b>a:
    print(b, "is the biggest number")
else:
    print("both are equal")

15 is the biggest number

- Bigggest of three numbers

In [8]:
a=5
b=15
c=8
if a>b and a>c:
    print(a,"is the biggest number")
    
elif b>c:
    print(b, "is the biggest number")
    
else:
    print(c, "is the biggest number")

15 is the biggest number

- Check wheather a numbr is even or odd

In [10]:
n=int(input("enter the number:"))

if n%2==0:
    print(n,"is the even number")
else:
    print(n,"is not an even number")

enter the number:11
11 is not an even number

Verify given year is a leap year or not

- it should divisible by 4 and rem as 0
- it shouldn't divisible by 100
- divisible by 400

In [15]:
n=int(input("enter the year"))
if (n%400==0) or (n%4==0 and n%100 !=0):
    print(n,"is a leap year")
else:
    print(n,"is not a leap year")

enter the year2024
2024 is a leap year

Claculator application
- 2 inputs
- arithmetic operation

In [17]:
a=int(input("enter a number"))
b=int(input("enter a number"))
arthm=input("what ARITHMETIC i need to perform")

if arthm=='+':
  print(a+b)
elif arthm=='-':
    print(a-b)
elif arthm=="*":
    print(a*b)
else:
    print("given arithmetic is invalid!!")

enter a number24
enter a number24
what ARITHMETIC i need to perform*
576

### Loops in Python
- execute the block of code for multiple times
- FOR LOOP
```python

    for Iterative variable in seqofdata:
        BLock of code

```


    While loop-> Based on the condition



    init
    while condition:
        block of code
    inc/dec
 ```

display 1 to 100 numbers to the users

1,>101,1

In [23]:
for i in range(1,101,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

Even numbers between 1 to 1000

In [24]:
for i in range(1,1001,1):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200 202 204 206 208 210 212 214 216 218 220 222 224 226 228 230 232 234 236 238 240 242 244 246 248 250 252 254 256 258 260 262 264 266 268 270 272 274 276 278 280 282 284 286 288 290 292 294 296 298 300 302 304 306 308 310 312 314 316 318 320 322 324 326 328 330 332 334 336 338 340 342 344 346 348 350 352 354 356 358 360 362 364 366 368 370 372 374 376 378 380 382 384 386 388 390 392 394 396 398 400 402 404 406 408 410 412 414 416 418 420 422 424 426 428 430 432 434 436 438 440 442 444 446 448 450 452 454 456 458 460 462 464 466 468 470 472 474 476 478 480 482 484 486 488 490 492 494 496 498 500 502 504 506 508 510 512 514 516 518 520 522 524 526 528 530 532 534 536 538 540 542 544 546 548 550 552 554 556 558 560 562 564 566 568 570 572 574 576 578 580 582 584 586 588 590 592 594 596 598 600 602 604 606 608 610 612 614 616 618 620 622 624 626 628 630 632 634 636 638 640 642 644 646 648 650 652 654 656 658 660 662 664 666 668 670 672 674 676 678 680 682 684 686 688 690 692 694 696 698 700 702 704 706 708 710 712 714 716 718 720 722 724 726 728 730 732 734 736 738 740 742 744 746 748 750 752 754 756 758 760 762 764 766 768 770 772 774 776 778 780 782 784 786 788 790 792 794 796 798 800 802 804 806 808 810 812 814 816 818 820 822 824 826 828 830 832 834 836 838 840 842 844 846 848 850 852 854 856 858 860 862 864 866 868 870 872 874 876 878 880 882 884 886 888 890 892 894 896 898 900 902 904 906 908 910 912 914 916 918 920 922 924 926 928 930 932 934 936 938 940 942 944 946 948 950 952 954 956 958 960 962 964 966 968 970 972 974 976 978 980 982 984 986 988 990 992 994 996 998 1000

# ASS

- Get the leap years between the given range

    - starting range and ending range is given by the user

- get the prime numbers between the given range
- fibonocci series in the given range

In [26]:
# WHILE LOOP
i=1
while i<101:
    print(i,end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

- Break:To terminate the execution of loop
- Continue:Skip the current execution of the loop

Print the numbrs b/n 1 to 100 , whenever i reach 50 kms stop.

In [27]:
for travel in range(1,101,1):
    if travel==50:
        break
    print(travel,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [31]:
for travel in range(1,101,1):
    if travel==50:
        break
    elif travel%2==0:
        continue
    print(travel,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [32]:
while True:
    inp=input()
    if inp =="cancel":
        print("loop is terminated")
        break
    print(inp)

1
1
2
2
3
3
4
4
5
5
cancel
loop is terminated

## strings
- it is group of data enclosed b/n "",'',""" """ are called strings in python

### properties of strings

- it is a immutable data types
- it is iterable

In [40]:
s='iam a single line string'
s1="i'm a double line string"
s2='''iam
a 
multi
line 
string'''
print(type(s),type(s1),type(s2))

<class 'str'> <class 'str'> <class 'str'>

In [43]:
for char in s2:
    print(char,end="\t")

i	a	m
	a
	m	u	l	t	i
	l	i	n	e
	s	t	r	i	n	g

In [50]:
s="""Leap years are years where an extra, or intercalary, day is added to the end of the shortest month, FebruAry. The intercalary day, February 29, is commonly referred to as leap day.

Leap years have 366 days instead of the usual 365 days and occur almost every four years.
"""
for char in s:
    if char in"aeiouAEIOU":
        print(char,end=" ")

e a e a a e e a e e a e a o i e a a a i a e o e e o e o e o e u A e i e a a a e u a i o o e e e o a e a a e a e a a e a i e a o e u u a a a o u a o e e o u e a

In [51]:
lo=0
uo=0
c=0
for char in s:
    if char in"aeiou":
        lo +=1
    elif char in "AEIOU":
        uo +=1
    else:
        c+=1
print(uo,"upper case vowels",lo,"lower",c,"constants")

1 upper case vowels 79 lower 192 constants

## accessing the characters from the string

- Indexing
    - +ve/Forward
    -  -ve/Reverse

In [52]:
print(s)

Leap years are years where an extra, or intercalary, day is added to the end of the shortest month, FebruAry. The intercalary day, February 29, is commonly referred to as leap day.

Leap years have 366 days instead of the usual 365 days and occur almost every four years.

In [53]:
print(s[0])

L

In [55]:
print(s[7])

a

In [56]:
print(s[-1])

In [57]:
print(s[-5])

a

In [58]:
print(s[-2])

.