In [2]:
a=123
print(type(a))

<class 'int'>

In [4]:
a=input()

123

In [6]:
print(type(a))

<class 'str'>

# Type casting

In [7]:
a=int(input())

print(a,type(a))

123
123 <class 'int'>

In [11]:
a=int(input())
print(a,type(a))

123
123 <class 'int'>

In [13]:
a=float(input())
print(a,type(a))

1223.3
1223.3 <class 'float'>

## Number system

- Decimal_>10_>0-9
- Binary->0 1
- octal->8->0 7
- hexadecimal->16->0 F

In [15]:
a=35
print(bin(a),oct(a),hex(a))

0b100011 0o43 0x23

In [16]:
print(int("110111",2),int("67",8),int("37",16))

55 55 55

In [18]:
print(ord("a"))

97

In [24]:
print(chr(97))

a


## Operators in python

- arithmetic operator: -,+,*,%,//,**
- logical- and,or,not
- comparison/relational- ->,<,>,<=,>=,==,!=
- Bitwise operator- &(and), |(or),~(not), ^(xor),>>(right shift),<<(left shift)
- Assignment operator- +=,-=, /=,%=,//=,**=
- Identity operator- is,not is
- Membership operator- in,notin

In [26]:
a=4
b=10
print(a+b,a-b,a*b,a%b,a/b,a//b)

14 -6 40 4 0.4 0

##  And
- |inp1 |inp2|inp1 and inp2|
- T|T|T
- T|F|F
- F|T|F
- F|F|F

##  OR
- |inp1 |inp2|inp1 and inp2|
- T|T|T
- T|F|T
- F|T|T
- F|F|F
# NOT
- |inp1 |inp2|inp1 and inp2|
- T|F
- F|T

In [28]:
a=1
b=0
c='0'
print(a and b ,a or b, not a ,a and c, not c ,sep= "->")

0->1->False->0->False

- string "0" is considered as true

In [29]:
a=5
b=10
print(a>b,a<b,a==b)

False True False

## Bitwise operator


- &, | , ~ , ^
---

      a = 4
      b = 10
      4 -> 0100
      10-> 1010
     _____
     0000 -> 0 ->and
     1110 -> 14->or

      ~a
     4 -> 0100
     0001
    -0101-> *5
    
---

## Left shift and right shift



a=4 -> 0100


a<<2 ->010000-> 16

a>>2 _> 0100->1

In [30]:
a=4
print(a<<2,a>>2)

16 1

In [33]:
a=5

#a=a+10
a+=10
print(a)
a-=5
print(a)
a**=2
print(a)

15
10
100

## Membership Operators

In [35]:
a = "python"
b= "py"
c= "py"
print(a in b,a in c, a is not c,c in a)

False False True True

## Identity Operators

In [37]:
a =5
b=5.5
c=5
d=[1,2,3]
e=[1,2,3]
f=d
print(a==c,d==e,d==f)

True True True

In [39]:
print(f)

[1, 2, 3]

In [41]:
print(id(a))
print(id(b))
print(id(c))
print(id(d))
print(id(e))

print(id(f))

1844741360
50509456
1844741360
49272456
50474184
49272456


address location will be same for primary data types , but it will be stored in different memory location for secondary data types

In [45]:
d.append("python")
print(d)
print(f)
print(a==c,d==e,d==f)

[1, 2, 3, 'python', 'python']
[1, 2, 3, 'python', 'python']
True False True

In [47]:
print(d,e,f)
print(d is e,d is f,e is f)

[1, 2, 3, 'python', 'python'] [1, 2, 3] [1, 2, 3, 'python', 'python']
False True False